#remove the .example from this file, and fill in the Token value to use it.
[Discord]
Token = insert_token_here
Command_Prefix = insert_prefix_here

[PygmyAudio]
Default_Skips_Needed = _insert_default_skips_needed_here